.que-container {
  width: 100%;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.que-container > ul,
.que-container > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
