.cls-1 {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.cls-1,
.cls-2 {
  fill: #fff;
}

.cls-3 {
  fill: #d7d900;
}

.cls-3,
.cls-4,
.cls-2,
.cls-5,
.cls-6 {
  stroke-width: 0px;
}

.cls-4 {
  fill: #8f1a7d;
}

.cls-5 {
  fill: #00aaae;
}

.cls-6 {
  fill: #00aaad;
}
